@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --main-color: #788cde;
  --text-color: #fcfcfc;
  --secondary-color: #6881e6;
  --bg1-color: #1c1c1c;
  --bg2-color: #2a2a2a;
  --bg3-color: #222222;
  --bg2hover-color: #373737;
}

::selection {
  background-color: rgba(104, 129, 230, 0.8);
}

body {
  font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
  background-color: var(--bg1-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--text-color);
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  background-color: var(--bg2-color);
  border: none !important;
  height: 24px;
  font-size: 18px;
  color: var(--text-color);
  outline: none;
}

label {
  color: var(--text-color);
}

button {
  background-color: var(--bg2-color);
  color: white;
  padding: 8px 16px;
  border: 1px solid var(--bg2-color);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

button:hover {
  background-color: var(--bg1-color);
  border: 1px solid var(--text-color);
}

button.cancel-btn {
  background-color: #b2b2b2;
}

button.cancel-btn:hover {
  background-color: #949292;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: var(--bg2-color);
  margin-bottom: 10px;
  padding: 2px 20px;
  border-radius: 5px;
}

li:hover {
  background-color: var(--bg2hover-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--text-color);
  font-size: 22px;
}

h3 {
  color: var(--text-color);
  font-size: 18px;
}

p {
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 5px;
}

/* FILTERING */

select {
  background-color: var(--bg2-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  width: 200px;
}

.select-container {
  position: relative;
}

.search-button-container {
  margin-top: 10px;
}

select option {
  background-color: var(--bg2-color);
  color: var(--text-color);
}

select:hover option {
  color: var(--text-color);
}

select:focus option {
  color: var(--text-color);
}

.sort-order {
  margin-top: 10px;
}

.filtering label {
  vertical-align: middle;
}

.filtering label input {
  vertical-align: middle;
}

.filtering input[type='checkbox'] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.filtering input[type='checkbox']::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 3px;
}

.filtering input[type='checkbox']:checked::before {
  content: '✔';
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
  top: 35%;
}

.filtering label {
  display: inline-block;
  margin-right: 10px;
}

/* TASK LIST */

.task-details h2, .task-details p {
  margin: 7px 0;
}

.task-details h2 {
  font-size: 24px;
  font-weight: 500;
}

.task-details p {
  font-size: 16px;
  color: #c4c4c4;
}

.edit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  color: var(--text-color);
  margin-right: 25px;
  font-size: 22px;
}

.edit-btn:hover {
  color: var(--secondary-color);
}

.delete-btn {
  color: var(--text-color);
  margin-right: 25px;
  font-size: 22px;
}

.delete-btn:hover {
  color: var(--secondary-color);
}

.star-btn {
  color: var(--text-color);
  font-size: 22px;
}

.star-btn:hover {
  color: var(--secondary-color);
}

.star-btn.starred {
  color: var(--main-color);
}

.star-btn.starred {
  color: var(--secondary-color);
}

.edit-input {
  flex-grow: 1;
  margin-right: 10px;
}

.edit-btn,
.delete-btn {
  display: none;
}

li:hover .edit-btn,
li:hover .delete-btn {
  display: inline-block;
}

/* PAGINATION */

.pagination span {
  font-size: 20px;
  color: var(--text-color);
  vertical-align: middle;
}

.pagination {
  text-align: center;
  vertical-align: middle;
}

.arrow-l,
.arrow-r {
  font-size: 32px;
  color: var(--text-color);
  vertical-align: middle;
}

.arrow-l:hover,
.arrow-r:hover {
  color: var(--secondary-color);
}
